<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper.xml 만들 때 참고용, 아래 namespace 수정해서 쓰세요! -->
<mapper namespace="com.itwillbs.mappers.projectListMapper">

	<select id="getAllList" resultType="com.itwillbs.domain.ProjectDTO">
		select * 
		  from project_tb 
		 where END > CURDATE()
	</select>
	
	<select id="getProjCount" resultType="java.lang.Integer">
		select count(*) from project_tb where END > CURDATE()
	</select>
	
	<select id="getCategoryList" resultType="com.itwillbs.domain.ProjectDTO">
		select * 
		  from project_tb 
		 where category = #{category} and END > CURDATE()
	</select>
	
	<select id="getCategoryList" resultType="com.itwillbs.domain.ProjectDTO">
		select * 
		  from project_tb
		 where 1=1 
		 <if test="category ">
		   and category=#{category}
		 </if> 
		   and END > CURDATE()
	</select>
	
	<select id="getCateCount" resultType="java.lang.Integer">
		select count(*) from project_tb where END > CURDATE()
	</select>
	
	
	<select id="getNewly" resultType="com.itwillbs.domain.ProjectDTO">
		select * from project_tb where START > DATE_SUB(CURDATE(),INTERVAL 7 day) and END > CURDATE()
	</select>
	
	<select id="getProject" resultType="com.itwillbs.domain.ProjectDTO">
		SELECT IDX
			 , CATEGORY
			 , CRE_NM
			 , TITLE
			 , INTRO
			 , TARGET_AMT
			 , START
			 , END
			 , IMG1
		 	 , case when (SELECT COUNT(*)
					    	FROM LIKE_TB
					   	   WHERE PJ_IDX = P.IDX
							 AND USER_ID = #{SESSIONID}) = 1 THEN 'heart_fill.svg'
			   											 	 ELSE 'heart.svg'
			   											 	  END AS HEART  
		  FROM PROJECT_TB P
		 WHERE 1=1
          -- AND START > DATE_SUB(CURDATE(),INTERVAL 7 day) and END > CURDATE()
	</select>

	
	<select id="getNewCount" resultType="java.lang.Integer">
		select count(*) from project_tb where START > DATE_SUB(CURDATE(),INTERVAL 7 day) and END > CURDATE()
	</select>
	
	<select id="getDeadline" resultType="com.itwillbs.domain.ProjectDTO">
		select * from project_tb where CURDATE() > DATE_SUB(END,INTERVAL 7 day) and END > CURDATE()
	</select>
	
	<select id="getDeadCount" resultType="java.lang.Integer">
		select count(*) from project_tb where CURDATE() > DATE_SUB(END,INTERVAL 7 day) and END > CURDATE()
	</select>
	
	<select id="getPopular" resultType="com.itwillbs.domain.ProjectDTO">
		select *, (total_amt/target_amt * 100) A from project_tb where END > CURDATE() order by A DESC
	</select>
	
	<select id="getPopCount" resultType="java.lang.Integer">
		select count(*) from project_tb where END > CURDATE()
	</select>
	
	<select id="getExpect" resultType="com.itwillbs.domain.ProjectDTO">
		select * from project_tb where START > CURDATE()
	</select>
	
	<select id="getExpCount" resultType="java.lang.Integer">
		select count(*) from project_tb where START > CURDATE()
	</select>
	
	<select id="getSearch" resultType="com.itwillbs.domain.ProjectDTO">
		select * from project_tb where title like CONCAT('%', #{search}, '%') and END > CURDATE()
	</select>
	
	<select id="getSearchCount" resultType="java.lang.Integer">
		select count(*) from project_tb where title like CONCAT('%', #{search}, '%') and where END > CURDATE()
	</select>
	
	<select id="updateAlramcount">
		update project_tb set alramcount=alramcount+1 where idx=#{idx}
	</select>
	
	
</mapper>  